.home-page {

  &__banner {
    position: relative;

    &-subTitle {
      margin-top: 120px;
      color: var(--gray-900);

      // 1600
      @include for-laptop {
        margin-top: 100px;
      }

      // 1280
      @include for-small-laptop {
        margin-top: 85px;
      }

      // 960
      @include for-big-tablet {
        margin-top: 55px;
      }

      // 800
      @include for-tablet {
        margin-top: 35px;
      }

      // 600
      @include for-small-tablet {
        margin-top: 25px;
      }

      // 400
      @include for-mobile {
        margin-top: 15px;
      }
    }

    &-btn {
      margin: 50px 24px 0 0;

      // 1600
      @include for-laptop {
        margin: 30px 24px 0 0;
      }

      // 1280
      @include for-small-laptop {
        margin: 20px 24px 0 0;
      }

      // 960
      @include for-big-tablet {
        margin: 15px 20px 0 0;
      }
    }
    
    &-pagination {
      display: flex;
      padding: 150px 0;

      &-item {
        border-bottom: 2px solid var(--gray-800);
        width: 178px;
        margin-right: 4px;
        color: var(--gray-800);
        opacity: 0.6;
        cursor: pointer;

        // 1280
        @include for-small-laptop {
          width: 150px;
        }

        // 960
        @include for-big-tablet {
          width: 100px;
        }

        // 800
        @include for-tablet {
          width: 90px;
        }

        // 600 
        @include for-small-tablet {
          width: 60px;
        }

        // 400
        @include for-mobile {
          border-bottom: 1px solid var(--gray-800);
          width: 40px;
        }
  
        &:hover {
          opacity: 1;
        }

        &-active {
          opacity: 1;
        }
      }
      
      // 1600
      @include for-laptop {
        padding: 130px 0;
      }

      // 1280
      @include for-small-laptop {
        padding: 115px 0;
      }

      // 960
      @include for-big-tablet {
        padding: 90px 0;
      }

      // 800
      @include for-tablet {
        padding: 75px 0;
      }

      // 600
      @include for-small-tablet {
        padding: 50px 0;
      }

      // 400
      @include for-mobile {
        padding: 20px 0;
      }
    }

    &-category {
      height: 380px;

      // 1280
      @include for-small-laptop {
        height: 270px;
      }

      // 960
      @include for-big-tablet {
        height: 220px;
      }

      // 800
      @include for-tablet {
        height: auto;
      }

      &-width{
        max-width: 1260px;
        position: absolute;
        bottom: 10px;
        left: 0;
        right: 0;
        margin: auto;

        // 1280
        @include for-small-laptop {
          max-width: 868px;
        }

        // 960
        @include for-big-tablet {
          max-width: 700px;
        }

        // 800
        @include for-tablet {
          width: auto;
          position: static;
        }
      }

      &-items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 40px;
        text-align: center;

        // 960
        @include for-big-tablet {
          gap: 30px;
        }

        // 800
        @include for-tablet {
          grid-template-columns: repeat(1, 1fr);
          gap: 20px;
        }
      }

      &-img {
        // 800
        @include for-tablet {
          height: 300px;
          width: 300px;
        }

        // 600
        @include for-small-tablet {
          height: 200px;
          width: 200px;
        }
      }
    }
  }
}
