.home-page {

  &__banner {
    position: relative;

    &-subTitle {
      margin-top: 120px;
      color: var(--gray-900);
      font-size: 18px;
      font-weight: 700;
      line-height: 27px;
      letter-spacing: 1px;
      text-transform: uppercase;

      // 1600
      @include for-laptop {
        margin-top: 100px;
      }

      // 1280
      @include for-small-laptop {
        margin-top: 85px;
        font-size: 17px;
        line-height: 22px;
      }

      // 960
      @include for-big-tablet {
        margin-top: 55px;
        font-size: 15px;
        line-height: 20px;
      }

      // 800
      @include for-tablet {
        margin-top: 35px;
        font-size: 14px;
        line-height: 15px;
      }

      // 600
      @include for-small-tablet {
        margin-top: 25px;
        font-size: 12px;
        line-height: 12px;
      }

      // 400
      @include for-mobile {
        margin-top: 15px;
        font-size: 8px;
        line-height: 10px;
        font-weight: 300;
        letter-spacing: 0;
      }
    }

    &-title {
      color: var(--gray-900);
      font-size: 72px;
      font-weight: 900;
      line-height: 93.6px;
      letter-spacing: 1px;

      // 1600
      @include for-laptop {
        font-size: 65px;
        line-height: 70px;
      }

      // 1280
      @include for-small-laptop {
        font-size: 60px;
        line-height: 63.6px;
      }

      // 960
      @include for-big-tablet {
        font-size: 45px;
        line-height: 40px;
      }

      // 800
      @include for-tablet {
        font-size: 30px;
        line-height: 30px;
      }

      // 600
      @include for-small-tablet {
        font-size: 25px;
        line-height: 25px;
      }

      // 400
      @include for-mobile {
        font-size: 20px;
        font-weight: 700;
        line-height: 20px;
        letter-spacing: 0;
      }
    }

    &-btns{
      margin-top: 50px;

      // 1600
      @include for-laptop {
        margin-top: 30px;
      }

      // 1280
      @include for-small-laptop {
        margin-top: 20px;
      }

      // 960
      @include for-big-tablet {
        margin-top: 15px;
      }
    }

    &-btn {
      padding: 0px 40px;
      margin-right: 24px;
      align-items: center;
      gap: 10px;
      font-size: 16px;
      font-weight: 700;
      line-height: 52px;
      letter-spacing: 0.5px;

      // 1280
      @include for-small-laptop {
        padding: 0px 35px;
        font-size: 14px;
        line-height: 42px;
      }

      // 960
      @include for-big-tablet {
        padding: 0px 20px;
        margin-right: 20px;
        font-size: 12px;
        line-height: 30px;
      }
    }
    
    &-pagination {
      display: flex;
      padding: 150px 0;

      // 1600
      @include for-laptop {
        padding: 130px 0;
      }

      // 1280
      @include for-small-laptop {
        padding: 115px 0;
      }

      // 960
      @include for-big-tablet {
        padding: 90px 0;
      }

      // 800
      @include for-tablet {
        padding: 75px 0;
      }

      // 600
      @include for-small-tablet {
        padding: 50px 0;
      }

      // 400
      @include for-mobile {
        padding: 20px 0;
      }

      &-item {
        border-bottom: 2px solid var(--gray-800);
        width: 178px;
        margin-right: 4px;
        font-size: 28px;
        font-weight: 700;
        line-height: 42px;
        color: var(--gray-800);
        opacity: 0.6;
        cursor: pointer;

        // 1280
        @include for-small-laptop {
          width: 150px;
          font-size: 23px;
          line-height: 32px;
        }

        // 960
        @include for-big-tablet {
          width: 100px;
          font-size: 18px;
          line-height: 22px;
        }

        // 800
        @include for-tablet {
          width: 90px;
          font-size: 16px;
          line-height: 18px;
        }

        // 600 
        @include for-small-tablet {
          width: 60px;
          font-size: 14px;
          line-height: 14px;
        }

        // 400
        @include for-mobile {
          border-bottom: 1px solid var(--gray-800);
          width: 40px;
          font-size: 12px;
        }
  
        &:hover {
          opacity: 1;
        }

        &-active {
          opacity: 1;
        }
      }
    }

    &-category {
      height: 380px;

      // 1280
      @include for-small-laptop {
        height: 270px;
      }

      // 960
      @include for-big-tablet {
        height: 220px;
      }

      // 800
      @include for-tablet {
        height: auto;
      }

      &-width{
        max-width: 1260px;
        position: absolute;
        bottom: 10px;
        left: 0;
        right: 0;
        margin: auto;

        // 1280
        @include for-small-laptop {
          max-width: 868px;
        }

        // 960
        @include for-big-tablet {
          max-width: 700px;
        }

        // 800
        @include for-tablet {
          width: auto;
          position: static;
        }
      }

      &-item {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 40px;
        text-align: center;

        // 960
        @include for-big-tablet {
          gap: 30px;
        }

        // 800
        @include for-tablet {
          grid-template-columns: repeat(1, 1fr);
          gap: 20px;
        }
      }

      &-img {
        // 800
        @include for-tablet {
          height: 300px;
          width: 300px;
        }

        // 600
        @include for-small-tablet {
          height: 200px;
          width: 200px;
        }
      }

      &-title {
        font-size: 20px;
        font-weight: 700;
        line-height: 30px;

        // 1280
        @include for-small-laptop {
          font-size: 18px;
          font-weight: 300;
          line-height: 20px;
        }

        // 600
        @include for-small-tablet {
          font-size: 14px;
        }
      }
    }

  }
}
