.home-page {

  &__gallery {

    &-img {
      height: 400px;
      padding: 40px;
      color: var(--gray-900);
    }

    &-title {
      padding: 12px 0 30px;
    }

    &-btn {
      padding: 0 32px;
      margin-bottom: 50px;
      font-size: 14px;
      font-weight: 700;
      line-height: 44px;
      letter-spacing: 0.5px;
    }

    &-date {
      width: 240px;
    }

  }
}