.home-page {

  &__gallery {

    &-img {
      height: 500px;
      padding: 60px;
      color: var(--gray-900);

      // 1600
      @include for-laptop {
        height: 400px;
        padding: 40px;
      }

      // 960
      @include for-big-tablet {
        padding: 30px;
      }

      // 800
      @include for-small-tablet {
        height: auto;
      }
    }

    &-title {
      padding: 12px 0 40px;

      // 1600
      @include for-laptop {
        padding: 12px 0 30px;
      }
    }

    &-date {

      &-title {
        margin-top: 79px;

        // 1600
        @include for-laptop {
          margin-top: 50px;
        }
      }

      &-content {
        width: 209px;
      }
    }
  }
}