.home-page {

  &__instagram {

    @include for-tablet {
      text-align: center;
    }

    &-btn {
      margin-top: 60px;

      @include for-small-laptop {
        margin-top: 40px;
      }
    }
  }
}
