.home-page {

  &__newarrival {

    &-title {
      text-align: center;
    }
    
    &-subtitle {
      padding: 24px 0 60px;
      text-align: center;

      @include for-laptop {
        padding: 20px 0 50px;
      }    
    
      @include for-big-tablet {
        padding: 16px 0 40px;
      }
    
      @include for-small-tablet {
        padding: 12px 0 30px;
      }
    }
  }
}