.home-page {

  &__popular {
    text-align: center;

    &-categories {
      max-width: 1230px;
      margin: 60px auto 0;
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      gap: 40px;
    }

    &-name {
      margin-top: 24px;
    }
  }
}
