.btn {

  &__flat {
    background-color: var(--primary);
    color: var(--white);
    border-radius: 4px;
  }

  &__outline {
    background-color: transparent;
    color: var(--primary);
    border: 1px solid var(--primary);
    border-radius: 4px;

    &:hover {
      background-color: var(--primary);
      color: var(--white);
    }
  }

  &__regular {
    padding: 0 40px;

    @include btn_regular;

    // 1280
    @include for-small-laptop {
      padding: 0px 35px;
    }
  
    // 960
    @include for-big-tablet {
      padding: 0px 20px;
    }
  }

  &__small {
    padding: 0 32px;

    @include btn_small;

    // 1280
    @include for-small-laptop {
      padding: 0 20px;
    }

    // 960
    @include for-big-tablet {
      padding: 0 10px;
    }
  }

  &__extrasmall {
    padding: 0 24px;
    
    @include btn_extrasmall;
  
    &-icon{
      margin-left: 10px;
    }

    // 1280
    @include for-small-laptop {
      padding: 0 16px;
    }
    
    // 960
    @include for-big-tablet {
      padding: 0 8px;
    }
  }

  &__subscribe-selection {
    padding: 5.5px 16px;
    margin-right: 12px;
    color: var(--gray-700);
    border-color: var(--gray-400);

    @include btn_subscribe-selection;

    @include for-mobile {
      margin: 5px 10px 5px 0;
    }
  }
}
