.btn {

  &__flat {
    background-color: var(--primary);
    color: var(--white);
    border-radius: 4px;
  }

  &__outline {
    background-color: transparent;
    color: var(--primary);
    border: 1px solid var(--primary);
    border-radius: 4px;

    &:hover {
      background-color: var(--primary);
      color: var(--white);
    }
  }

  &__regular {
    padding: 0 40px;
    font-size: 16px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0.5px;

    // 1280
    @include for-small-laptop {
      padding: 0px 35px;
      line-height: 42px;
    }
  
    // 960
    @include for-big-tablet {
      padding: 0px 20px;
      font-size: 12px;
      line-height: 30px;
    }
  }

  &__small {
    padding: 0 32px;
    font-size: 14px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0.5px;

    // 1280
    @include for-small-laptop {
      padding: 0 20px;
    }

    // 960
    @include for-big-tablet {
      padding: 0 10px;
      letter-spacing: 0;
    }
  }

  &__extrasmall {
    padding: 0 24px;
    font-size: 12px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.5px;
  
    &-icon{
      margin-left: 10px;
    }
  }
}
