.element {
// 1280 <
  &__more-small-laptop {
    @include for-small-laptop {
      display: none;
    }
  }
// 1280 >
  &__less-small-laptop {
    @include small-laptop {
      display: none;
    }
  }

// 600 <
  &__more-small-tablet {
    @include for-small-tablet {
      display: none;
    }
  }
// 600 >
  &__less-small-tablet {
    @include small-tablet {
      display: none;
    }
  }
}
