.form {
  margin-top: 32px;

  // 960
  @include for-big-tablet {
    margin-top: 20px;
  }

  &__label {
    display: block;
    margin-bottom: 8px;
  }

  &__input {
    width: 360px;

    // 1600
    @include for-laptop {
      width: 250px;
    }

    // 1280
    @include for-small-laptop {
      width: 160px;
    }
  }

  &__singup {
    margin-top: 20px;
  }

  &__checkbox {
    margin-left: -10px;
  }
}