.header {

// Topbar Section
  &__topbar {
    @include flex-all-sb;

    color: var(--white);

    &-item {
      cursor: pointer;
    }
  }

  &__menu {
    @include flex-all-sb;

    &-item {
      padding: 0 10px;

      // 1280 
      @include for-small-laptop {
        padding: 0 5px;
      }
    }
  }

// Secondbar Section
  &__secondbar {
    @include flex-all-sb;

    &-item {
      @include flex-all-sb;
    }
  }

  &__logo{
    cursor: pointer;
  }

  &__category {
    padding: 0 10px;
    cursor: pointer;
    
    &:hover{
      color: var(--primary);
    }

    // 1280
    @include for-small-laptop {
      padding: 0 5px;
    }
  }

  .sale {
   color: var(--danger);
  }

  &__search {
    width: 380px;
    height: 44px;

    // 1280
    @include for-small-laptop {
      width: 300px;
      height: 44px;
    }

    // 800
    @include for-tablet {
      width: 200px;
      height: 40px;
    }
  }

  &__toolbar {
    cursor: pointer;

    &-cart {
      cursor: pointer;
  
      &-item {
        border-radius: 4px;
        width: 23px;
        height: 20px;
        padding: 1px 8px;
        gap: 10px;
        background-color: var(--success);
        color: var(--white);
        font-size: 12px;
        line-height: 18px;
        margin-left: 10px;

        // 1280
        @include for-small-laptop {
          margin-left: 5px;
        }
      }
    }
  }

// SpecialOffers Section
  &__carousel-content {
    font-size: 12px;
    line-height: 18px;
    color: var(--white);
  }

  &__carousel-link {
    font-weight: 100;
    text-decoration: underline;
  }
}
