// Swiper
.createx-shop .swiper {
  width: 100%;
  height: 100%;

  &-slide {
    margin-bottom: 80px;
    
    // 1600
    @include for-laptop {
      margin-bottom: 70px;
    }

    // 1280
    @include for-small-laptop {
      margin-bottom: 60px;
    }

    // 960
    @include for-big-tablet {
      margin-bottom: 50px;
    }

    // 800
    @include for-tablet {
      margin-bottom: 40px;
    }

    // 600
    @include for-small-tablet {
      margin-bottom: 30px;
      text-align: center;
    }

    // 400
    @include for-mobile {
      margin-bottom: 20px;
    }
  }

  &-img {
    position: relative;
    margin: auto;
    padding: 10px;
    text-align: right;

    &-header {
      display: flex;
      justify-content: space-between;
    }

    &-heart {
      position: absolute;
      bottom: 10px;
      right: 10px;
      background-color: var(--white);
      width: 32px;
      height: 32px;
      border-radius: 50%;
      text-align: center;
      cursor: pointer;
    }

    &-sale {
      background-color: var(--danger);
      color: var(--white, #FFF);
      padding: 1px 8px;
      border-radius: 4px;
      font-size: 16px;
      font-weight: 700;
      line-height: 25.6px;
    }
  }

  &-name {
    margin-bottom: 8px;
    cursor: pointer;
  }

  &-data {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include for-big-tablet {
      display: block;
    }
  }

  &-button-prev,
  &-button-next {
    top: 30%;
    color: var(--gray-800);

    @include for-small-tablet {
      --swiper-navigation-size: 30px;
    }
  }

  &-btn {
    width: 48px;
    height: 48px;
    background-color: transparent;
    color: var(--gray-800);
    border-radius: 50%;

    &:hover {
      background-color: var(--primary);
      color: var(--white)
    }
  }

  &-pagination {
    position: static;

    &-bullet {
      width: 30px;
      height: 3px;
      border-radius: 0;
      opacity: 0.2;
      background: var(--gray-800);

      &-active {
        opacity: 1;
      }
    }
  }

  &-size {
    padding: 1px 4px;
    border: 2px solid var(--gray-500);
    border-radius: 4px;
    font-size: 12px;

    &:hover {
      border-color: var(--primary);
    }

    &-active {
      border-color: var(--primary);
    }
  }

  &-color {
    padding: 4px;
    border: 2px solid var(--gray-500);

    &-value {
      padding: 7px;
      border-radius: 50%;
    }

    &:hover {
      border-color: var(--primary);
    }

    &-active {
      border-color: var(--primary);
    }
  }
    
  &-add-cart {
    width: 100%;
    padding: 0;
    margin-top: 20px;
  }
}
