.title {

  &-display-first {
    color: var(--gray-900);
    font-size: 72px;
    font-weight: 900;
    line-height: 93.6px;
    letter-spacing: 1px;

    // 1600
    @include for-laptop {
      font-size: 62px;
      line-height: 83.6px;
    }

    // 1280
    @include for-small-laptop {
      font-size: 52px;
      line-height: 73.6px;
    }

    // 960
    @include for-big-tablet {
      font-size: 42px;
      line-height: 63.6px;
    }

    // 800
    @include for-tablet {
      font-size: 32px;
      line-height: 53.6px;
    }

    // 600
    @include for-small-tablet {
      font-size: 22px;
      line-height: 43.6px;
    }
  }

  &-h1 {
    font-size: 46px;
    font-weight: 900;
    line-height: 59.8px;

    // 1600
    @include for-laptop {
      font-size: 43px;
      line-height: 54px;
    }

    // 960
    @include for-big-tablet {
      font-size: 37px;
      line-height: 42px;
    }

    // 600
    @include for-small-tablet {
      font-size: 28px;
      line-height: 30px;
    }
  }

  &-h2 {
    font-size: 32px;
    font-weight: 900;
    line-height: 41.6px;
    
    // 1600
    @include for-laptop {
      font-size: 28px;
      line-height: 35px;
    }

    // 960
    @include for-big-tablet {
      font-size: 20px;
      line-height: 27px;
    }

    // 600
    @include for-small-tablet {
      font-size: 18px;
      line-height: 25px;
    }
  }

  &-h3 {
    font-size: 28px;
    font-weight: 700;
    line-height: 42px;
    
    // 1600
    @include for-laptop {
      font-size: 25px;
      line-height: 36px;
    }

    // 1280
    @include for-small-laptop {
      font-size: 23px;
      line-height: 32px;
    }

    // 960
    @include for-big-tablet {
      font-size: 20px;
      line-height: 26px;
    }

    // 800
    @include for-tablet {
      font-size: 17px;
      line-height: 20px;
    }

    // 600
    @include for-small-tablet {
      font-size: 14px;
      line-height: 15px;
    }

    // 400
    @include for-mobile {
      font-size: 12px;
    }
  }

  &-h5 {
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
  
    // 1600
    @include for-laptop {
      font-size: 19px;
      line-height: 24px;
    }

    // 1280
    @include for-small-laptop {
      font-size: 18px;
      line-height: 22px;
    }
  
    // 960
    @include for-big-tablet {
      font-size: 17px;
      line-height: 20px;
    }

    // 800
    @include for-tablet {
      font-size: 16px;
      line-height: 18px;
    }
  
    // 600
    @include for-small-tablet {
      font-size: 14px;
      line-height: 16px;
    }
  }

  &-h6 {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 1px;
    text-transform: uppercase;
    
    // 1600
    @include for-laptop {
      font-size: 15px;
      line-height: 22px;
    }

    // 960
    @include for-big-tablet {
      font-size: 14px;
      line-height: 20px;
    }

    // 600
    @include for-small-tablet {
      font-size: 12px;
      line-height: 15px;
    }
  }
}

.subtitle {
  font-size: 18px;
  line-height: 27px;

// Bold
  &__bold {
    font-weight: 700;
  }

// Regular
  &__regular {
    font-weight: 400;
  }

  // 1600
  @include for-laptop {
    font-size: 16px;
    line-height: 23px;
  }    

  // 960
  @include for-big-tablet {
    font-size: 15px;
    line-height: 21px;
  }

  // 800
  @include for-tablet {
    font-size: 14px;
    line-height: 19px;
  }

  // 600
  @include for-small-tablet {
    font-size: 12px;
    line-height: 17px;
  }
}

// Все ссылки на сайте
.link {
  text-decoration: underline;

  &__white {
    color: var(--white);
  }

  &__primary {
    color: var(--primary);
  }
}

.lead {
  font-size: 20px;
  line-height: 30px;

// Bold
  &__bold {
    font-weight: 700;
  }

// Regular
  &__regular {
    font-weight: 400;
  }

  // 1600
  @include for-laptop {
    font-size: 18px;
    line-height: 27px;
  }

  // 960
  @include for-big-tablet {
    font-size: 16px;
    line-height: 23px;
  }

  // 600
  @include for-small-tablet {
    font-size: 14px;
    line-height: 20px;
  }
}

.base {
  font-size: 16px;
  line-height: 25.6px;

// Bold
  &__bold {
    font-weight: 700;
  }

// Regular
  &__regular {
    font-weight: 400;
  }

// Small 
  &__small {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;

    &-bold {
      font-weight: 700;
    }

    // 800
    @include for-tablet {
      font-size: 10px;
      line-height: 17px;
    }
  }

// Extrasmall 
  &__extrasmall {
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;

    &-bold {
      font-weight: 900;
    }
  }

  // 1600
  @include for-laptop {
    font-size: 14px;
    line-height: 22px;
  }

  // 960
  @include for-big-tablet {
    font-size: 12px;
    line-height: 18px;
  }

  // 600
  @include for-small-tablet {
    font-size: 10px;
    line-height: 15px;
  }
}

// Btn Content
@mixin btn_regular {
  font-size: 16px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0.5px;

  // 800
  @include for-tablet {
    font-size: 12px;
    line-height: 30px;
  }
}

@mixin btn_small {
  font-size: 14px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0.5px;

  // 800
  @include for-tablet {
    font-size: 10px;
    line-height: 25px;
    letter-spacing: 0;
  }
}

@mixin btn_extrasmall {
  font-size: 12px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.5px;

  // 800
  @include for-tablet {
    font-size: 8px;
    line-height: 16px;
    letter-spacing: 0;
  }
}
