.title {

  &-h1 {
    font-size: 46px;
    font-weight: 900;
    line-height: 59.8px;

    @include for-laptop {
      font-size: 40px;
      line-height: 53px;
    }

    @include for-big-tablet {
      font-size: 30px;
      line-height: 40px;
    }

    @include for-small-tablet {
      font-size: 20px;
      line-height: 30px;
    }
  }

  &-h2 {
    font-size: 32px;
    font-weight: 900;
    line-height: 41.6px;
    
    @include for-laptop {
      font-size: 28px;
      line-height: 35px;
    }

    @include for-big-tablet {
      font-size: 20px;
      line-height: 27px;
    }

    @include for-small-tablet {
      font-size: 18px;
      line-height: 25px;
    }
  }

  &-h6 {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 1px;
    text-transform: uppercase;
        
    @include for-laptop {
      font-size: 15px;
      line-height: 22px;
    }

    @include for-big-tablet {
      font-size: 14px;
      line-height: 20px;
    }

    @include for-small-tablet {
      font-size: 12px;
      line-height: 15px;
    }
  }

}

.subtitle {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;

  @include for-laptop {
    font-size: 16px;
    line-height: 25px;
  }    

  @include for-big-tablet {
    font-size: 15px;
    line-height: 20px;
  }

  @include for-small-tablet {
    font-size: 14px;
    line-height: 18px;
  }
}

.price {
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;

  @include for-laptop {
    font-size: 18px;
    line-height: 23px;
  }

  @include for-big-tablet {
    font-size: 16px;
    line-height: 20px;
  }

  @include for-small-tablet {
    font-size: 14px;
    line-height: 17px;
  }
}

// Все ссылки на сайте
.link {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: var(--primary);
  text-decoration: underline;

  @include for-laptop {
    font-size: 16px;
    line-height: 25px;
  }    

  @include for-big-tablet {
    font-size: 15px;
    line-height: 20px;
  }

  @include for-small-tablet {
    font-size: 14px;
    line-height: 18px;
  }
}
